@media screen and (max-width: 640px) {
    /*width of nav bar to be 100%*/
        .navbar-brand {
            width: 100%;
            text-align: center;
            margin-right: 0px !important;
        }

    .navbar-nav {
        margin: 0 auto !important;
    }
    
    .handsome {
        width: 100%;
        margin-bottom: 10px
    }

    .navbar{
        padding: 0 !important;
    }
}

.nav-link {
    margin: 0 5px !important;
}

.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.navbar-brand {
    padding: 18px 16px;
    background-color: peru;
}

.navbar-nav {
    padding-top: 13px;
    padding-bottom: 13px;
}

@media screen and (min-width: 641px) {
    .bioBody {
        margin-bottom: 10px;
    }
    .container {
        margin-top: 50px;
    }
}

.container {
    background-color: #ffffff;
    margin-bottom: 100px;
}

body {
    background-color: #dbdbdb;
}

.heading {
    padding-top: 50px;
}

footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #999999;
    border-top: 8px solid peru;
    position: fixed;
    bottom: 0;
}
